ion-content{
    --background: url("https://wallpapertag.com/wallpaper/middle/7/3/1/119991-solid-blue-background-2560x1600-1080p.jpg");
    --background-repeat: no-repeat;
    --background-size: cover;  
    
    }

    ion-card
    {
        background: white;
    }