<ion-content>
  <ion-card>
    
    <ion-card-content>
      <ion-img src="/assets/Register.png" height="100px" width="100px"></ion-img>
      
    Already have an account? &nbsp; <a href="login">Sign In</a><br><br>
    <ion-item>
      <ion-input type="text" placeholder="Name"></ion-input>
    </ion-item>
    <ion-item>
        
<ion-input type="number" placeholder="Mobile No"></ion-input>
    </ion-item>
    <ion-item>
        
      <ion-input type="text" placeholder="E-Mail"></ion-input>
      </ion-item><br>

      

      <ion-button expand="full"color="primary" (click)="signIn()">Sign Up</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>